/*
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
*/

/* Make the webviews act less like a browser, and more like an app*/
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

#calendar {
    width: 100%;
}

#calendar-header {
    overflow: hidden;
}

.table-border-top-light {
    border-top: 1px solid gainsboro;
}

.table-border-top-dark {
    border-top: 1px solid black;
}

.table-bg {
    background-color: #cfcfcf;
}

table {
    border-collapse: collapse;
}

tr {
    border: 0;
    margin: 0;
    padding: 0;
}

td {
    padding: 3px;
    vertical-align: top;
}

.course_entry {
    text-align: center;
    text-shadow: none;
    font-size: 10px;
    position: relative;
}
.course_entry h2, h3 {
  color: white;
  margin: 0;
}

.course_entry h2 {
    font-size: 12px;
}

.course_entry h3 {
    font-size: 10px;
    margin: 0;
}

.course_entry a.remove {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.course_entry a.remove:after {
    background-color: transparent;
}

.course_entry .details {
    padding-top: 7px;
}

.course_popup {
    padding: 5px;
    background-color: white;
    min-width: 240px;
}

.course_popup > h2 {
    font-size: 1.2em;
}

.course_popup .popup_content {
    padding: 8px 12px;
}

.course_popup .timeslot {
    color: #777777;
    font-size: 0.8em;
    line-height: 10px;
}

.calendar_entry {
    display: block;
    background-color: #B7A7DB;
    border-radius: 3px;
    box-shadow: 1px 1px 4px 1px #655688;
    padding: 2px 10px;
    overflow: hidden;
    text-shadow: none;
    word-wrap: break-word;
}

a.calendar_entry:hover, a.calendar_entry.selected {
    background-color: #C6BDDB;
}

a.calendar_entry, a.calendar_entry:hover {
    text-decoration: none;
    text-align: center;
}

a.calendar_entry h2, a.calendar_entry:hover h2 {
    color: #22104A;
    font-size: 14px;
    margin: 0;
}

a.calendar_entry h3, a.calendar_entry:hover h3 {
    color: #6C6016;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

@media only screen and (max-width : 480px) {
    .calendar_entry {
        padding: 2px;
    }

    a.calendar_entry h2 {
        font-size: 12px;
    }

    a.calendar_entry h3 {
        font-size: 10px;
    }

    #calendar-header th {
        font-size: 12px;
    }

}