<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cp317.course_planner" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Course Planner</name>
    <description>
        A course planning app for Laurier students.
    </description>
    <author>
        CP317 Group 2
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- uses cordova plugin add org.apache.cordova.statusbar to make iOS7 statusbar look right-->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <!-- edit this to the background color of your app -->
    <preference name="StatusBarBackgroundColor" value="#595b5b" />
</widget>
