<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cp317.g2a3" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Group 2 Assignment 3</name>
    <description>
        Group 2 Assignment 3 for CP317 Winter 2014
    </description>
    <author>
        Group 2
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
