<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.wlu.g2a2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>G2A2</name>
    <description>
        Assignment 2 for Group 2 of CP317.
    </description>
    <content src="group.html" />
    <content src="carolyn.html" />
    <content src="carolyn-work.html" />
    <content src="carolyn-hobby.html" />
    <content src="index.html" />
    <access origin="*" />
</widget>
